<template>
 
  <div id="app">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Express + Vue </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li v-if="tempLocal.jwt" class="nav-item active">
            <a class="nav-link" style="color: #ffffff" ><router-link to="/">Home</router-link> </a>
          </li>
          <li v-if="tempLocal.jwt" class="nav-item active">
            <a class="nav-link" style="color: #ffffff" ><router-link to="/chat">Chat</router-link> </a>
          </li>
          <li v-if="!tempLocal.jwt" class="nav-item">
            <a class="nav-link" style="color: #ffffff" ><router-link to="/login">Login</router-link> </a>
          </li>
          <li v-if="tempLocal.jwt" class="nav-item">
            <a class="nav-link"  style="color: #ffffff" ><router-link to="/vote">Vote </router-link> </a>
          </li>
          <li v-if="tempLocal.jwt" class="nav-item">
            <a class="nav-link"  style="color: #ffffff" ><router-link to="/logout">Logout </router-link> </a>
          </li>
        </ul>
        
      </div>
    </nav>

    <main role="main" class="container">

      <br><br>

      <router-view/>

    </main>
  </div>
</template>

<script>

import Vue from 'vue'
import BootstrapVue from 'bootstrap-vue'

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

Vue.use(BootstrapVue)

export default {
  name: 'App',
  
  data () {
    return {

      tempLocal: {}
      
    }
  },

  created () {
     
    this.tempLocal = localStorage
  },

  
}
</script>
