<template>
  <div class="container">
  	

	<div class="row">

	

		<div class="col-md-12">

			<div class="card mt-3">
		      <div class="card-body">
		          <div class="card-title">
		          	<h3>Vote Result</h3>
		              <hr>
		          </div>
		          <div class="card-body">
		          	<GChart
					    :settings="{packages: ['bar']}"    
					    :data="chartData"
					    :options="chartOptions"
					    :createChart="(el, google) => new google.charts.Bar(el)"
					    @ready="onChartReady"
					  />
					  <br>
					  
		          </div>
		          
		      </div>

		  </div>
			
		</div>

           <div class="col-md-12">

            <div class="card mt-3">
              <div class="card-body">
                  <div class="card-title">
                      <h3>Chat Group</h3>
                      <hr>
                  </div>
                  <div class="card-body">
                      <div class="messages" v-for="(msg, index) in messages" :key="index">
                          <p><span class="font-weight-bold">{{ msg.user }}: </span>{{ msg.message }}</p>
                      </div>
                  </div>
              </div>
              <div class="card-footer">
                  <form @submit.prevent="sendMessage">
                      <div class="gorm-group">
                          <label for="user">User:</label>
                          <input type="text" v-model="user" class="form-control">
                      </div>
                      <div class="gorm-group pb-3">
                          <label for="message">Message:</label>
                          <input type="text" v-model="message" class="form-control">
                      </div>
                      <button type="submit" class="btn btn-success">Send</button>
                  </form>
              </div>
          </div>
            
        </div>
		
	</div>
  </div>

</template>



<script>

import { GChart } from "vue-google-charts";
import io from 'socket.io-client';
import axios from 'axios'

export default {

    components: {
        GChart
    },

    data() {
        return {

            user: '',
            message: '',
            messages: [],
            socket: '',

            ap: 0,
            js: 0,
            am: 0,

            vote: '',
            votes: [],

            chartsLib: null,
            // Array will be automatically processed with visualization.arrayToDataTable function
            chartData: [
                ['Paslon', 'Johny Sins', 'Arief Poyuono', 'Aurelie Moeremans'],
                ['kode', 0, 0, 0],

            ]


        }
    },
    computed: {
        chartOptions() {
            if (!this.chartsLib) return null
            return this.chartsLib.charts.Bar.convertOptions({
                chart: {
                    title: 'Quick Count Pilpres 2091',
                    subtitle: 'Berdasarkan Data 8.000.000 TPS'
                },
                bars: 'horizontal', // Required for Material Bar Charts.
                hAxis: {
                    format: 'decimal'
                },
                height: 200,
                colors: ['#1b9e77', '#d95f02', '#7570b3']
            })
        }
    },
    created() {

      this.socket = io(backend)

    	this.initResult()

        this.socket.on('MESSAGE', (data) => {
            this.messages = [...this.messages, data];

        });

        this.socket.on('VOTE', (data) => {
            
            this.votes = [...this.votes, data];

            if(data.value == 1) {
            	this.js += 1
            }

            if(data.value == 2) {
            	this.ap += 1
            }

            if(data.value == 3) {
            	this.am += 1
            }

            this.chartData =  [
                ['Paslon', 'Johny Sins', 'Arief Poyuono', 'Aurelie Moeremans'],
                ['kode', this.js, this.ap, this.am],

            ]


        });




    },

    methods: {

        sendMessage(e) {

            e.preventDefault();

            this.socket.emit('SEND_MESSAGE', {
                user: this.user,
                message: this.message
            });

            this.message = ''


        },

        onChartReady(chart, google) {
            this.chartsLib = google
        },


        initResult() {



            axios({
                method: 'get',
                url: backend+'vote/Result',

                headers: {
                    'content-type': 'application/x-www-form-urlencoded;charset=utf-8',
                    'x-access-token': localStorage.jwt
                }
            })
            .then(response => {

                console.log(response.data.values)

                this.js = response.data.values[0].total
                this.ap = response.data.values[1].total
                this.am = response.data.values[2].total

                this.chartData = [

	                ['Paslon', 'Johny Sins', 'Arief Poyuono', 'Aurelie Moeremans'],
	                ['kode', this.js, this.ap, this.am],

	            ]

            })
            .catch(error => {
                console.log(error)
            })



        }
    }

}
</script>
