<template>
  <div class="container">
  	<modal name="modal-add-user" :draggable="false" :adaptive='true' width='750px' height="auto" :scrollable="true">
	    <div class="row" style="padding:15px;">
	        <div class="col-md-12">
	        	<form @submit.prevent="store" >
	            <div class="modal-body">
	            	<div class="row">
			  			<div class="col-lg-3">
			  				<input class="form-control" type="text" autofocus="" v-model="forms.name" name="name" placeholder="Name" required>
			  			</div>

			  			<div class="col-lg-3">
			  				<input class="form-control" type="email" v-model="forms.email" name="email" placeholder="Email" required>
			  			</div>

			  			<div class="col-lg-3">
			  				<input class="form-control" type="password" v-model="forms.password" name="password" placeholder="Password" required>
			  			</div>
			  		</div>
	            </div>
	            <div class="modal-footer">
	            	<button class="btn btn-primary" type="submit" value="submit">Submit</button>
	                <button type="button" class="btn btn-danger" @click="closeModalAddUser"><span><v-icon dark small>clear</v-icon></span> Close</button>
	            </div>
	            </form>
	        </div>
	    </div>
	</modal>
  	
  	<button class="btn btn-success " @click="openModalUser()" type="button">Add New User</button>
  	<br><br>
	<div class="hello">
	    
	    <table class="table table-hover table-stripped table-bordered">
			<thead>
				<tr>
					<th class="text-center">No.</th>
					<th>Email</th>
					<th>Name</th>
					<th>Passwords</th>
					<th class="text-center">Action</th>
				</tr>
			</thead>

			<tbody>
				<tr v-for="(row, index) in batch_arr">
					<td class="text-center">{{ index+1 }}</td>
					<td>
						<span v-if="check(index)">{{ row.email }}</span>
						<input v-else type="text" class="form-control" v-model="row.email" name="">
					</td>
					<td>
						<span v-if="check(index)">{{ row.name }}</span>
						<input v-else type="text" class="form-control" v-model="row.name" name="">
					</td>
					<td>
						<span v-if="check(index)">{{ row.password }}</span>
						<input v-else type="text" class="form-control" v-model="row.password" name="">
					</td>
					<td class="text-center">
						
						<button v-if="check(index)" @click.prevent="editdata(index)" class="btn btn-warning btn-xs">Edit</button>
						<button v-if="!check(index)" @click="save(row)" class="btn btn-success btn-xs">Save</button>
						&nbsp;&nbsp;&nbsp;<button @click.prevent="deletedata(row.id)" class="btn btn-danger btn-xs">Delete</button>

					</td>
					

				</tr>
			</tbody>	
		</table>
		<br>
		
		<div class="col-md-12">
			<label><b>JWT Token</b></label>
			<textarea type="text" class="form-control" v-model="this.jwt" readonly="" name=""></textarea>
		</div>
		
	</div>

	
  </div>

</template>



<script>

import Vue from 'vue'
import axios from 'axios'
import VeeValidate from 'vee-validate'
import Swal from 'sweetalert2'
import VueSweetalert2 from 'vue-sweetalert2';
import qs from 'qs'
import VModal from 'vue-js-modal'




Vue.use(VModal, { dynamic: true })
Vue.use(VueSweetalert2)
Vue.use(VeeValidate)
export default {
  name: 'HelloWorld',	
  data () {
    return {

    	user: '',
        message: '',
        messages: [],
        

    	edit_col: 'xx',

      	batch_arr: [],
      	batch_item: {},
      	forms: {
			name: '',
			email: '',
			password: '',
		},

		jwt: ''
    }
  },
  created () {

 	
  	this.fetchUser();

  	this.jwt = localStorage.jwt
  	
  },

  methods:{


  	openModalUser(){

  		this.$modal.show('modal-add-user')
  	},

  	closeModalAddUser(){
	    this.$modal.hide('modal-add-user')
  	},
  	

 
  	save(data) {
  		
  		this.edit_col = 'xyx'
  		console.log(data)


  		console.log("edit : "+data.id)
		axios({
		  method: 'post',
		  url: backend+'users/edit',
		  data: qs.stringify({
		    id: data.id,
		    name: data.name,
		    email: data.email,
		    password: data.password
		  }),
		  headers: {
		    'content-type': 'application/x-www-form-urlencoded;charset=utf-8'
		  }
		})
		.then(response =>{
			console.log("success edit")
			this.fetchUser();
		})
		.catch(error => {
			console.log(error)
		})
  	},

  	check(id) {

  		if(this.edit_col == id) {

  			return false

  		} else {

  			return true

  		}
  		

  	},
  	fetchUser() {
 		

	   	axios.get(backend+'users/')
	   	.then(response => {
	   		// console.log(response)
		   	this.batch_arr = response.data.values
		})
	   	.catch(error => {
	       console.log(error)
	   	});
	}, 

	store(e) {
		console.log(this.forms)

		axios({
		  method: 'post',
		  url: backend+'users/newRegister',
		  data: qs.stringify({
		    name: this.forms.name,
		    email: this.forms.email,
		    password: this.forms.password,
		  }),
		  headers: {
		    'content-type': 'application/x-www-form-urlencoded;charset=utf-8'
		  }
		})
		.then(response =>{
			console.log("success add")
			this.fetchUser();
			this.$modal.hide('modal-add-user')
		})
		.catch(error => {
			console.log(error)
		})
	},

	deletedata(id){
		console.log("delete : "+id)
		axios({
		  method: 'post',
		  url: backend+'users/delete',
		  data: qs.stringify({
		    id: id
		  }),
		  headers: {
		    'content-type': 'application/x-www-form-urlencoded;charset=utf-8'
		  }
		})
		.then(response =>{
			console.log("success delete")
			this.fetchUser();
		})
		.catch(error => {
			console.log(error)
		})
	},

	editdata(id){
		
		// console.log(id)
		this.edit_col = []
		this.edit_col = id
		// console.log(this.edit_col)
	}

  }
}
</script>
