<template>

	<div class="container">
		
		<br><br>

		<form class="form-signin" @submit.prevent="login()">
		  <div class="text-center mb-4">
		    
		    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
		   
		  </div>

		  <div class="form-label-group">
		    <input type="text" class="form-control" required="" v-model="login_data.email" autofocus="" placeholder="email">
		    <br>
		  </div>

		  <div class="form-label-group">
		    <input type="password" class="form-control" required="" v-model="login_data.password" placeholder="password">
		    <br>
		  </div>

		  
		  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		  <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2019</p>
		</form>

		

		<h3>{{ this.res }}</h3>

		

	</div>

</template>



<script>

import Vue from 'vue'
import axios from 'axios'
import VeeValidate from 'vee-validate'
import Swal from 'sweetalert2'
import VueSweetalert2 from 'vue-sweetalert2';
import qs from 'qs'

Vue.use(VueSweetalert2)
Vue.use(VeeValidate)
export default {
  name: 'HelloWorld',	
  data () {
    return {

    	login_data: {},
    	res: ''
    
    }
  },
  created () {

  	console.log(backend)
  	
  },

  methods:{

  	login() {

  		// console.log(this.login_data)

  		axios({

		  method: 'post',
		  url: backend+'users/auth',
		  data: qs.stringify({
		    
		    email: this.login_data.email,
		    password: this.login_data.password,
		  }),
		  headers: {
		    'content-type': 'application/x-www-form-urlencoded;charset=utf-8'
		  }

		})
		.then(response =>{
			
			if(response.data.status == 404) {

				this.res = 'not found'

			} else {

				this.res = response.data.values[0].token
				localStorage.jwt = this.res

				this.$router.push('/')

			}

			
			
		})
		.catch(error => {
			console.log(error)
		})

  	}

  }
}

</script>
