<template>

	<h1>Person</h1>

</template>



<script>

import Vue from 'vue'
import axios from 'axios'
import VeeValidate from 'vee-validate'
import Swal from 'sweetalert2'
import VueSweetalert2 from 'vue-sweetalert2';
import qs from 'qs'

Vue.use(VueSweetalert2)
Vue.use(VeeValidate)
export default {
  name: 'HelloWorld',	
  data () {
    return {
    
    }
  },
  created () {
  	
  },

  methods:{

  	

  }
}

</script>
