<template>

  <div class="container">
  	<br><br>
	<div class="row">
	    <div class="col-sm-4">
	      
	        <button class="btn btn-danger" @click="submit(1)">
	      		<img src="../images/1.png" style='width:100%;' >
	      	</button>

	    </div>
	    <div class="col-sm-4">
	      
	        <button class="btn btn-warning" @click="submit(2)">
	      		<img src="../images/2.png" style='width:100%;' >
	      	</button>
	    </div>
	    <div class="col-sm-4">
	      	
	      	<button class="btn btn-success" @click="submit(3)">
	      		<img src="../images/3.png" style='width:100%;' >
	      	</button>
	        
	      
	    </div>
  	</div>
  	<br>
  	
  </div>

</template>



<script>

import Vue from 'vue'
import axios from 'axios'
import VeeValidate from 'vee-validate'
import Swal from 'sweetalert2'
import VueSweetalert2 from 'vue-sweetalert2';
import qs from 'qs'
import VModal from 'vue-js-modal'

Vue.use(VModal, { dynamic: true })
Vue.use(VueSweetalert2)
Vue.use(VeeValidate)

export default {
    name: 'HelloWorld',
    data() {
        return {

        }
    },
    created() {},

    methods: {

        submit(id) {
            axios({
                    method: 'post',
                    url: backend+'vote/',
                    data: qs.stringify({
                        option: id
                    }),
                    headers: {
                        'content-type': 'application/x-www-form-urlencoded;charset=utf-8',
                        'x-access-token': localStorage.jwt
                    }
                })
                .then(response => {


                    this.$swal({
                        toast: true,
                        position: 'center',
                        type: 'success',
                        title: 'Vote Successful',
                        showConfirmButton: false,
                        timer: 1000
                    })
                })
                .catch(error => {
                    console.log(error)
                })

        }
    }
}
</script>
