<!DOCTYPE html>
<html lang="en">
  <head>
    

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>nodejs_front_end</title>
    
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">

    

  </head>
  <body>
    <noscript>
      <strong>We're sorry but nodejs_front_end doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    


  </body>
</html>
